* {
  margin: 0;
  padding: 0;
}

/* Misalkan kita menerapkan animasi ke latar belakang body */
body {
  animation-name: example;
  animation-duration: 8s;
}

@keyframes example {
  0%   {background-color: #D6EAF8;} /* Blue pastel */
  25%  {background-color: #FADBD8;} /* Peach pastel */
  50%  {background-color: #D5F5E3;} /* Green pastel */
  100% {background-color: #FDEBD0;} /* Yellow pastel */
}

/* Untuk membuat latar belakang responsif */
@media only screen and (max-width: 600px) {
  body {
    background-size: cover; /* Mengisi layar dengan latar belakang */
    background-repeat: no-repeat; /* Jangan mengulang latar belakang */
    background-attachment: fixed; /* Tetapkan latar belakang saat scrolling */
  }
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*navbar*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #E9F0EB;
  justify-content: flex-start;
  align-items: center;
  color: whitesmoke;
  z-index: 1000;
  padding-left: 20px; /* Mengurangi jarak dari tepi kiri */
  padding-right: 20px; /* Mengurangi jarak dari tepi kanan */
  height: 50px; /* Tinggi navbar */
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%; /* Lebar ul diatur ke 100% agar mengisi navbar */
  justify-content: space-around; /* Menyusun item-menu dengan jarak yang sama */
  padding: 0; /* Menghapus padding default */
}

/* Mengubah tata letak ul saat tampilan pada perangkat seluler */
@media only screen and (max-width: 600px) {
  nav {
    padding-left: 10px; /* Mengurangi jarak dari tepi kiri */
    padding-right: 10px; /* Mengurangi jarak dari tepi kanan */
    height: 60px; /* Menambah tinggi navbar untuk ruang yang lebih besar */
  }

  nav ul {
    flex-direction: column; /* Menyusun item-menu secara vertikal */
    align-items: center; /* Pusatkan item-menu secara horizontal */
    padding-top: 10px; /* Menambah jarak di atas item-menu */
  }
}


nav .logo {
  width: auto; /* Menggunakan lebar asli gambar */
  height: auto; /* Menggunakan tinggi asli gambar */
  max-width: 150px; /* Batasan lebar maksimum */
  display: block;
  margin: 0 auto; /* Membuat logo terpusat secara horizontal */
  border-radius: 50%; /* Memberikan efek sudut melengkung */
  border: 2px solid #fff; /* Garis putih untuk memberi kontras */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Bayangan halus */
  transition: transform 0.3s ease; /* Efek transisi ketika logo dihover */
}

.logo:hover {
  transform: scale(1.1); /* Perbesar gambar saat dihover */
}

nav ul li a {
  text-decoration: none;
  color: #666262; 
  padding-left: 50px;
}

nav ul li a:hover {
  color: #616d75; /* Warna biru pastel saat hover */
}
  /* Tombol hamburger menu */
.menu-toggle {
  display: block; /* Menampilkan tombol hamburger */
  cursor: pointer; /* Mengubah kursor menjadi pointer saat diarahkan ke tombol */
  background: transparent; /* Menghilangkan latar belakang */
  border: none; /* Menghilangkan border */
  padding: 5px; /* Padding untuk meningkatkan area klik */
  position: relative; /* Menjadikan posisi tombol relatif */
}

/* Garis hamburger */
.menu-toggle .line {
  width: 25px; /* Panjang garis hamburger */
  height: 3px; /* Ketebalan garis hamburger */
  background-color: #7f8c8d; /* Warna abu-abu pastel */
  margin: 4px auto; /* Margin agar garis berjarak secara merata */
  transition: all 0.3s ease; /* Transisi perubahan warna saat dihover */
}

/* Efek hover pada garis hamburger */
.menu-toggle:hover .line {
  background-color: #3498db; /* Warna biru pastel saat hover */
}

/* Animasi untuk transisi garis hamburger */
.menu-toggle.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .line:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


  .image {
   
    width: 100%;
    height: auto;  
    max-width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Container */
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #D5F5E3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Container Galeri */
.container-gallery {
  max-width: 90%;
  margin: 10px auto; /* Tambahkan sedikit margin atas dan bawah */
  padding: 20px;
  border: 2px solid #60AD77;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Background Image Home */
.container-background {
  background-image: url('bg.jpg'); /* Ganti 'background.jpg' dengan nama file gambar latar belakang Anda */
  background-size: cover; /* Penyesuaian ukuran gambar */
  background-position: center; /* Posisi gambar */
  padding: 50px; /* Ruang bawah agar konten terlihat lebih baik */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Gambar di dalam Container */
.container img {
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease; /* Animasi transform */
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-text {
  animation-name: slideInRight;
  animation-duration: 1s; /* Durasi animasi */
  animation-delay: 0.5s; /* Delay sebelum animasi dimulai */
  animation-fill-mode: both; /* Menjaga gaya akhir animasi */
}


.container img:hover {
  transform: scale(1.05); /* Efek scaling saat kursor mengarah ke gambar */
}

/* Atur tampilan untuk tampilan mobile */
@media screen and (max-width: 768px) {
  .container, .container-gallery, .container-background {
    padding: 15px; /* Ubah padding agar sesuai dengan tampilan layar yang lebih kecil */
  }
}

/* Gaya untuk perangkat seluler */
@media screen and (max-width: 768px) {
  .container,
  .container-gallery {
    margin: 5px; /* Mengurangi margin untuk layar kecil */
    padding: 5px; /* Mengurangi padding untuk layar kecil */
  }
}

.profil {
  padding: 8px;
  border-radius: 5px;
  margin-left: 20px;
  padding-right: 1200px;

}

.container span{
  padding-bottom: 10px;
}

main {
    display: flex;
    flex-direction: row;
}

.box {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.flextwo{
    flex-grow: 2;
    }

h2 {
  
    text-align: center;
    color: black;
    text-justify: inter-word;
    word-wrap: break-word;
    margin-bottom: 20px;

}
h5 {
  text-align: center;
  color: black;
  word-wrap: break-word;
 
}
p {
    text-align: justify;
    text-justify: inter-word;
}

.motto-hidup{
  text-align: center;
}

.gambar-hobi{
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.gambar-hobi img{
  margin-right: 10px;
}

.span{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.maps{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.position-galery{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

html {
	scroll-behavior: smooth;
}

footer {
  background-color: #E9F0EB; /* Warna latar belakang footer */
  color: #3f3939; /* Warna teks footer */
  padding: 20px; /* Padding di dalam footer */
}

.footer-container {
  max-width: 1200px; /* Lebar maksimum konten footer */
    margin: 0 auto; /* Pusatkan konten footer */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
  margin-bottom: 10px; /* Jarak antara judul dan daftar tautan sosial */
}

.footer-content h3 {
  margin-bottom: 10px;
}

.footer-content p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links a {
  color: black;
  text-decoration: none;
}

.social-links a:hover {
  color: #60AD77;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
}


@media screen and (max-width: 768px) {
    nav ul{
      width: 50%;
    }
  }

  @media screen and (max-width: 576px) {
   .menu-toggle{
       display: flex;
   }
   main{
       flex-direction: column-reverse;
   }
    nav ul{
      position: absolute;
      right:0;
      top: 0;
      width: 50%;
      flex-direction: column;
      height: 100vh;
      justify-content:space-evenly;
      align-items: center;
      background-color: coral;
      /* transform: translateX(100%);  */
      transition: all 0.72s;
      opacity: 0;
      z-index: 2;
    }
    nav ul.menushow{
        opacity: 0.5;
        /* transform: translateX(0); */
    }
  }
  
table {
    width: 100%; /* Lebar tabel */
    border-collapse: collapse;
    margin: auto ;
    background-color: #fff; /* Warna background tabel */
    border-radius: 8px; /* Sudut melengkung tabel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan tabel */
    overflow-x: auto;
}

th, td {
    font-size: 14px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Garis pemisah */
}

th {
    background-color: #bee2c9; /* Warna latar header */
    color: #fff; /* Warna teks header */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Warna latar baris genap */
}

.teknis {
  display: flex;
  flex-direction: column;
  align-items: center; /* Memusatkan secara horizontal */
  justify-content: center; /* Memusatkan secara vertical */
  width: 50%; /* Lebar 50% dari parent element */
  max-width: 300px; /* Lebar maksimum */
  padding: 20px;
  margin: 10px auto; /* Center secara horizontal */
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.teknis img {
  margin: auto;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Tambahkan shadow dengan warna pastel */
}

.teknis .text h4 {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.teknis .text span {
  font-size: 14px;
  color: #888; /* Warna untuk persentase */
}

.container-gege {
  max-width: 100%; /* Gambar tidak melebihi lebar kontainer */
  height: auto; /* Gambar tetap proporsional */
  display: block; /* Menghilangkan spasi di sekitar gambar */
  margin: auto; /* Memposisikan gambar ke tengah */
  border-radius: 10px; /* Sudut melengkung pada gambar */
  transition: transform 0.3s ease; /* Animasi transisi ketika gambar dihover */
}

.container-gege:hover {
  transform: scale(1.1); /* Memperbesar gambar saat dihover */
}


.container-video {
  position: relative;
  padding-bottom: 56.25%; /* Proporsi 16:9: 9/16 = 0.5625 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-radius: 8px; /* Sudut melengkung untuk tampilan yang lebih menarik */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan video */
}

.container-video iframe,
.container-video object,
.container-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px; /* Sudut melengkung untuk tampilan yang lebih menarik */
}

/* Media query untuk perangkat mobile */
@media only screen and (max-width: 600px) {
  .container-video {
    padding-bottom: 75%; /* Mengubah proporsi untuk perangkat mobile */
    border-radius: 0; /* Menghapus sudut melengkung untuk tampilan yang lebih bersih */
    box-shadow: none; /* Menghapus bayangan pada perangkat mobile */
  }
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 75%; /* Proporsi 4:3: 3/4 = 0.75 */
  height: 0;
  border-radius: 10px; /* Sudut melengkung */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Menghapus border iframe */
  border-radius: 10px; /* Sudut melengkung */
}

@media (max-width: 768px) {
  .map-container {
    padding-top: 75%; /* Proporsi 4:3: 3/4 = 0.75 */
  }
}




